{% load static %}

<!DOCTYPE html>
<html lang="ru" translate="no" class="adaptive">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/store/media/favicon.ico">
    <link href="{% static 'css/main-v3.min.716ab6e5b2568b3a.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/common.min.121bb7180e1b90be.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/main-page-v3.min.7309e6f7f633c75b.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/popups/productCardPopup.min.6ca2574b943416d5.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/popups/productSelectionManager.min.2f97c2d2117bb281.css' %}" rel="stylesheet" type="text/css">

    {% block css %}
    {% endblock %}

    {% block title %}
    <title>Каталог</title>
    {% endblock %}
    </head>
    <body>
    <div class="wrapper">
        <header class="header j-header header--custom-bg" style="background-image:url();">
            <div class="header__container">
                <div class="header__bottom">
                    <div class="header__nav-element nav-element">
                        <a class="nav-element__logo" href="{% url 'catalog' %}" style="width: 45px;height: 50px;">
                            <img src="/store/media/logo.png">
                        </a>
                    </div>
                    <div id="searchBlock" class="header__search-catalog search-catalog j-search-catalog" data-link="
         {on &#39;click&#39; &#39;.j-suggest&#39; followSuggest}
         {on &#39;click&#39; &#39;.j-suggest-tag&#39; fillWithTag}
         {on &#39;click&#39; &#39;.j-clear-history-all&#39; clearAllSearchHistories}
         {on &#39;click&#39; &#39;.j-clear-history&#39; clearSearchHistory}
         {on &#39;mouseover&#39; &#39;.j-suggest&#39; markSuggest}
         {on &#39;mouseover&#39; &#39;.j-unmark-suggests&#39; unmarkSuggests}
         {on &#39;mouseleave&#39; &#39;.j-search-catalog-autocomplete&#39; unmarkSuggests}
         class{merge: imageChipData toggle=&#39;search-catalog--photo&#39;}"
                        data-jsv="#82^/82^#83^/83^#84^/84^#85^/85^#86^/86^#87^/87^#88^/88^">
                        <div class="search-catalog__block"
                            data-link="class{merge: hasAnySuggestions() toggle=&#39;search-catalog--active&#39;}">
                            <input autocomplete="off" id="searchInput" class="search-catalog__input"
                                type="search" maxlength="300"
                                placeholder="Найти товар"
                                data-link="{:searchText:}readonly{:imageChipData}{on &#39;keydown&#39; onSearchInputKeypress}{on &#39;focus&#39; enableSuggestions}{on &#39;input&#39; showSuggestionsDebounced}"
                                data-jsv="#69^/69^#70^/70^#71^/71^">
                        </div>
                        <div class="autocomplete search-catalog__autocomplete j-search-catalog-autocomplete"
                        data-link="{if ~root.$isDesktop &amp;&amp; hasAnySuggestions() tmpl=&#39;searchSuggestionsTmpl&#39;}">
                        </div>
                    </div>
                    <div class="header__navbar-pc navbar-pc j-b-header-menu" id="basketContent">
                        <div class="navbar-pc__item j-item-basket"> <a class="navbar-pc__link"
                                href="{% url 'basket' %}"> <span
                                    class="navbar-pc__icon navbar-pc__icon--basket"><svg
                                        width="26" height="24" fill="black">
                                        <path fill-rule="evenodd"
                                            d="M9.522 14.866a1 1 0 0 0 1.1.653l12.766-2.036a1 1 0 0 0 .823-.792l1.355-6.792a1 1 0 0 0-.964-1.196l-17.36-.28a1 1 0 0 0-.958 1.335l3.238 9.108ZM10.326 23.052a2.326 2.326 0 1 0 0-4.652 2.326 2.326 0 0 0 0 4.652ZM21.957 23.052a2.326 2.326 0 1 0 0-4.652 2.326 2.326 0 0 0 0 4.652Z"
                                            clip-rule="evenodd" />
                                        <path
                                            d="M6.169.9h-4.71a1.31 1.31 0 1 0 0 2.618h3.337a1 1 0 0 1 .945.672l.942 2.71L9.35 5.6 8.035 2.182A2 2 0 0 0 6.17.9Z" />
                                    </svg>
                                    <span class="navbar-pc__notify">
                                    </span>
                                </span> Корзина </a> </div>
                    </div>
                </div>

            </div>
        </header>
        {% block body %}
        <main class="main left-bg" role="main" id="body-layout">
            <div class="basket_alert">
                <p class="basket_alert_message">Товар добавлен в корзину</p>
            </div>
            <div id="mainContainer" class="main__container">


                <div id="app">
                    <div data-link="visible{:containerId == ~router.activeContainer &amp;&amp; !~router.showPreview}"
                        style="display: block;">
                        <div class="main-page">
                            <div class="main-page__content-wrapper">
                                <div class="main-page__content" data-link="
            
                {on &#39;click&#39; &#39;.j-product-item, .j-add-to-basket, .j-add-to-postpone&#39; !!homeCardsManager &amp;&amp; homeCardsManager.clickCardAnalitics}
            
            
                {on &#39;mouseenter&#39; &#39;.j-product-item&#39; !!homeCardsManager &amp;&amp; homeCardsManager.cardHoverHandler}
                {on &#39;mouseleave&#39; &#39;.j-product-item&#39; !!homeCardsManager &amp;&amp; homeCardsManager.cardUnhoverHandler}
                
            
                {on &#39;touchstart&#39; &#39;.j-thumbnail-wrap&#39; !!homeCardsManager &amp;&amp; homeCardsManager.startImageSlide}
                {on &#39;touchmove&#39; &#39;.j-thumbnail-wrap&#39; !!homeCardsManager &amp;&amp; homeCardsManager.proceedImageSlide}
                {on &#39;touchend&#39; &#39;.j-thumbnail-wrap&#39; !!homeCardsManager &amp;&amp; homeCardsManager.stopImageSlide}
                {on &#39;mousedown&#39; &#39;.j-thumbnail-wrap&#39; !!homeCardsManager &amp;&amp; homeCardsManager.startImageSlide}
                {on &#39;click&#39; &#39;.j-thumbnail-wrap&#39; !!homeCardsManager &amp;&amp; homeCardsManager.checkSliding}
            
            
                {on &#39;click&#39; &#39;.j-star&#39; !!homeCardsManager &amp;&amp; homeCardsManager.moveToComments}
                {on &#39;click&#39; &#39;.j-stars&#39; !!homeCardsManager &amp;&amp; homeCardsManager.moveToComments}
            
            
                {on &#39;click&#39; &#39;.j-open-product-popup&#39; !!homeCardsManager &amp;&amp; homeCardsManager.showProductCardPopup}
                {on &#39;click&#39; &#39;.j-open-full-product-card&#39; !!beforeRouterTransition &amp;&amp; beforeRouterTransition}
            
            
                {on &#39;click&#39; &#39;.j-add-to-basket&#39; !!homeCardsManager &amp;&amp; homeCardsManager.addToBasket}
            
            
                {on &#39;click&#39; &#39;.j-add-to-postpone&#39; !!homeCardsManager &amp;&amp; homeCardsManager.addToPoned}
            
            
                {on &#39;elementInViewportEvent&#39; &#39;.j-product-item&#39; !!homeCardsManager &amp;&amp; homeCardsManager.sendListingItemAnalytics}
            
        " data-jsv="#148^/148^#149^/149^#150^/150^#151^/151^#152^/152^#153^/153^#154^/154^#155^/155^#156^/156^#157^/157^#158^/158^#159^/159^#160^/160^#161^/161^#162^/162^">
                                    <script src="{% static 'js/catalog_basket.js' %}"></script>
                                    <script src="{% static 'js/search.js' %}"></script>
                                    <script src="{% static 'js/infinity_scroll.js' %}"></script>
                                    <script src="{% static 'js/popup.js' %}"></script>  
                                    {% endblock %}
                                    </body>

</html>